  <footer class="footer-2">
    <div class="footer-logo">
      <%= link_to(image_tag("colabicon.png", :alt => "Co Laboratory Icon links to home", :title => "Icon link to home"), "/") %>

    </div>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/learn_more">Learn More</a></li>
      </ul>

      <div class="footer-secondary-links">
        <ul>
          <li><a href="javascript:void(0)">Terms and Conditions</a></li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        <ul class="footer-social">
          <!-- <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/facebook-logo-circle.png" alt="">
            </a></li> -->
          <li><a href="javascript:void(0)">
            <!-- <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/twitter-logo-circle.png" alt=""> -->
          </a>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout CoLaboratory! It's an amazing app bringing creators together!" data-via="Xtina_Starr" data-hashtags="CoLaboratory">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


        </li>
          <li><a href="javascript:void(0)">
            <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
          </a></li>
        </ul>
      </div>
  </footer>