<body>
  <div class="about-container">
    <head>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
    </head>

    <article class="type-system-slab">
      <p class="type">About Us</p>
    <h1>Who are we?</h1>

    <h2>Christina & Shadae are two hip and happenin' chicas who love all types of music. Christina had a grand idea to make an app for her creative friends to come together and be able to find each other easily for collaboration and feedback. This is how collaboratory was born.</h2>
    <p class="date">18 Apr 2014</p>
    <h3>Christina Thompson</h3>
    <p><span>is a developer, basketball player and authenticity advocate in Seattle. </span>, With a bachelor's degree in marketing and a master's degree in Sports Management, Christina has a diverse set of interests. She enjoys exploring arts and culture, especially in an urban setting. She dreams of a space where people are able to effectively collaborate due to mutual openness and authenticity. She has admired the computer sciences for a while and decided to try it out with a course on skillcrush.com. After building a website with html and css, she wanted more.
      <!-- <a href="javascript:void(0)" class="read-more">Read More <span>&rsaquo;</span></a> -->
    </p>
    <h3>Shadae</h3>
    <p><span>is a problem-solving ninja in Seattle, WA who loves anything to do with design</span>She graduated in 2009 from the University of San Francisco where she studied politics, pre-law, and dance. While there, she was first exposed to programming in a robotics class, where she used Java and Python to make Lego robots solve puzzles. On the job at a small e-commerce company, she discovered an aptitude for efficient communications between developers and clients, and taught herself HTML and CSS. In her free time, she is a passionate advocate for a safe space for girls to reach their potential.</p>
    <hr>
    <p class="author">Create with us!<a href="/signup" class="read-more">Here <span>&rsaquo;</span></a>

    </article>

  </div>
<%= render "footer" %>
</body>



