<div class="image-gradient2">
  <div class="copy">
    <p class="signup">SIGN IN</p>
  </div>
  <div class="overlay"></div>
</div>

<div class="button-group">
  <p> Choose a service: </p>
  <%= link_to(image_tag("Sound Cloud.png", :alt => "soundcloud sign in icon", :title => "Soundcloud"), "/auth/soundcloud") %>
  <%= link_to(image_tag("Vimeo.png", :alt => "vimeo sign in icon", :title => "Vimeo"), "/auth/vimeo") %>
  <%= link_to(image_tag("Youtube New.png", :alt => "youtube sign in icon", :title => "Youtube"), "/auth/google_oauth2") %>
  <!-- <button>SoundCloud<%#= image_tag("Sound Cloud.png", "/auth/soundcloud", :alt => "soundcloud sign in icon") %></button> -->
  <!-- <button>Vimeo <%#= image_tag("Vimeo.png", :alt => "vimeo sign in icon") %></button> -->
  <!-- <button>Youtube <%#= image_tag("Youtube New.png", :alt => "youtube sign in icon") %></button> -->
</div>

<!-- footer -->

<%= render "footer" %>