// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$medium-screen: em(640);
$large-screen: em(860);
$mobile: em(320);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$mobile: new-breakpoint(max-width 480px 4);
