<h1>Hi <%= @user.username %>, </h1>

<h2> Pull your content </h2>
<%#= @tracks.first.keys %>
<% @tracks.each do |track| %>
  <%= track["permalink_url"] %>
<% end %>


<% @videos["videos"]["video"].each do |v| %>
<iframe src="//player.vimeo.com/video/<%= v["id"].inspect %>" width="500" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<% end %>

<h2>Link another service</h2>
<%= link_to("Vimeo", "/auth/vimeo") %>

