<h1>Homepage</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>sign up with one of these providers</p>
<%= link_to("Soundcloud", "/auth/soundcloud") %>

<%= link_to("Signout", sign_out_path) %>
