<body class="welcome">
    <div class="container">
      <div class="title-nbuttons">
        <span class="co">Co</span>  &nbsp; <span class="lab">Laboratory</span>
        <br>
        <br>
        <ul class="accordion">
          <li>
            <%= image_tag("http://www.iconsdb.com/icons/preview/white/arrow-204-xl.png", class: "js-accordion-trigger", :alt => "log in", :title => "Log in") %>
          <ul class="submenu">
            <li>
              <a href="/signin" class="sign">Sign In</a>
            </li>
            <li>
              <a href="/learn_more" class="sign">Check us out!</a>
            </li>
          </ul>
        </li>
      </ul>
          </div>
</body>


<script>
  jQuery('.js-accordion-trigger')
 // find the trigger
    .bind('click', function(){
      jQuery(this).parent().find('.submenu').slideToggle('fast');
 // apply the toggle to the ul
      jQuery(this).parent().toggleClass('is-expanded');
      event.preventDefault();
  });
</script>