<body class="welcome">
  <div class="large-space">
<!--     <%#= link_to('Signin', signin_path, :class => 'button')  %> -->
  </div>
  <div class="container">
    <div class="small-space">
      <span class="co">Co</span>  &nbsp; <span class="lab">Laboratory</span>
      <div class ="mini-space"></div>
      <div class ="mini-space2">
      <button type="button" class="js-menu-trigger sliding-menu-button">
        Sign In | Sign Up | Learn More
      </button>
      </div>

      <nav class="js-menu sliding-menu-content">
        <ul>
          <li><a href="/signin">Sign In</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/learn_more">Learn More</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<!-- sliding model js-->

<script>
  $(document).ready(function(){

    $('.js-menu-trigger').on('click touchstart', function(e){
      $('.js-menu').toggleClass('is-visible');
      $('.js-menu-screen').toggleClass('is-visible');
      e.preventDefault();
    });

    $('.js-menu-screen').on('click touchstart', function(e){
      $('.js-menu').toggleClass('is-visible');
      $('.js-menu-screen').toggleClass('is-visible');
      e.preventDefault();
    });
  });
</script>

  </div>
</body>
