
<div class="large-space">
</div>
<div class="container">
  <div class="content-pri">
    <span class="co">Co</span>  &nbsp; <span class="lab">Laboratory</span>
  </div>
  <div class="content-sec"></div>
</div>
<div class="container">
  <div class="content-pri">
    <div class="small-space">
    <button>Sign Up</button>
    <button>Learn More</button>
  </div>
  <div class="content-sec"></div>
</div>
<div class="large-space">
</div>
<div class="container">
  <div class="content-pri">

    <!--
    <%= link_to("Soundcloud", "/auth/soundcloud", title: "Soundcloud") %>
    <%= link_to("Vimeo", "/auth/vimeo", title: "Vimeo") %>
    <%= link_to("Youtube", "auth/google_oauth2", title: "Youtube") %>
    <%= link_to("Signout", sign_out_path) %> -->

  </div>
</div>





