
@import "bourbon";
@import "bitters/bitters";
@import "neat";
@import "welcome";
@import "static_pages";
@import "users";
@import "contents";

.button-group {
  text-align: center;
}

.background-container {
  border-top: 5px;
  border-top-style: solid;
}
