h1.media-show {
  font-family: "Lato";
  font-weight: 300;
  text-align: center;
}

h3.media-show {
  font-family: "Lato";
  font-weight: 300;
  text-align: center;
}

div.collabs-feedback-latest {
  text-align: center;
  /*border-bottom: 1px solid grey;*/
  margin-top: 40px;
  margin-bottom: 40px;
}

div.search-bar {
  width: 300px;
}

div.content-show {
  text-align: center;
}

div.disqus {
  width: 800px;
  margin: 20px auto;
}

div.center-discus {
  margin: 0 auto;
}

div.all-content {
  margin: 0 auto;
  width: 700px;

}

div.content-wrapper {
  width: 700px;
  margin-top: 40px;
  margin-bottom: 200px;
  width: 100%;
  base-border-color: light-gray;
}

div.content-wrapper-soundcloud {
  width: 700px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 60px;
  width: 100%;
}

/*div.video-wrapper iframe {
  margin-left: 0px;
}*/

figure.with-caption {
  width: 700px;
  margin-left: 0px;
  background:image-url('squairy_light.png');
  border-bottom-right-radius:2em;
  border-bottom-left-radius:2em;
  box-shadow: 0px 0px 28px 5px rgba(0,0,0,0.75);
}

.shadow {
  -webkit-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 28px 9px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 28px 9px rgba(0,0,0,0.75);
}

span.delete a {
  font-size: 16px;
  color: red;
  display: inline-flex;
  position: relative;
}