div.collabs-feedback-latest {
  text-align: center;
  border-bottom: 1px solid grey;
}

div.search-bar {
  width: 300px;
}

div.content-show {
  text-align: center;
}

div.disqus {
  width: 800px;
}

div.center-discus {
  margin: 0 auto;
}