div.collabs-feedback-latest {
  text-align: center;
  border-bottom: 1px solid grey;
}

div.search-bar {
  width: 300px;
}

div.content-show {
  text-align: center;
}

div.disqus {
  width: 800px;
}

div.center-discus {
  margin: 0 auto;
}

div.all-content {
  margin: 0 auto;
  width: 700px;
  
}

div.content-wrapper {
  width: 700px;
  height: 581px;
  
  width: 100%;
}

/*div.video-wrapper iframe {
  margin-left: 0px;
}*/

figure.with-caption {
  width: 700px;
  margin-left: 0px;
  background: #fafafa;
}