// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_profile {
  @include outer-container;
  @include span-columns(5);
  @include shift(1);
  width: 80%;
  position: inherit;
}

h1.profile {
  text-align: center;
}
