/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.container_profile {
  @include outer-container;
  @include shift(1);
  width: 80%;
  position: inherit;
}

h1.profile {
  text-align: center;
}

.header-background {
  background: image-url('crossword.png');
  background-repeat: repeat;
}

.background-container {
  background: image-url('pw_maze_white.png');
  background-repeat: repeat;
  margin-top: -4em;
}

.title-sub {
  font-family: "Lato";
}

/*Header*/

/*header.navigation {
  $navigation-background: $light-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 40px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);

  background-color: $navigation-background;
  border-bottom: 1px solid darken($navigation-background, 10);
  font-family: $sans-serif;
  height: $navigation-height;
  width: 100%;
  z-index: 999;

  .menu-wrapper {
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: 1em;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  .navigation-menu-button {
    color: $navigation-color;
    cursor: pointer;
    display: block;
    float: right;
    font-family: $sans-serif;
    font-weight: 700;
    line-height: $navigation-height;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;

    @include media ($large-screen) {
      display: none;
    }

    &:hover {
      color: $navigation-color-hover;
    }
  }

  .nav {
    @include media ($large-screen) {
      float: left;
    }
  }

  ul#navigation-menu {
    clear: both;
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    display: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  ul li {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: 2em;
      text-decoration: none;
      width: auto;
    }

    a {
      font-weight: 400;
      color: #40526B;

      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .sign-up {
    @include media ($large-screen) {
      @include position(absolute, 0px 0px 0 0);
      padding-right: 1em;

      a {
        @include transition (all 0.2s ease-in-out);
        background: lighten(#40526B, 10);
        border-radius: $base-border-radius;
        color: white;
        font-size: .8em;
        font-weight: 800;
        padding: .6em 1em;
        text-transform: uppercase;

        &:hover {
          background: lighten($navigation-nav-button-background, 10);
        }
      }
    }
  }*/
/*
  li.navigation-search-bar {
    display: none;

    @include media($large-screen) {
      @include position(absolute, 0px 76px 0 0);
      display: inline-block;
      line-height: 0 !important;
      padding: 3px 30px; // this to get around Firefox/Opera line-height "bug"
    }
  }

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10);

    width: 19em;
    position: relative;
    display: inline-block;

    input {
      @include box-sizing(border-box);
      display: block;
    }

    .search-and-submit {
      position: relative;

      input[type=search] {
        background: $navigation-search-background;
        border: $navigation-search-border;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: #40526B;
        border-radius: $base-border-radius * 2;
        margin: 0;
      }

      button[type=submit] {
        @include button(simple, lighten(#40526B, 10));
        @include position(absolute, 0.3em 0.3em 0.3em 0);
        outline: none;
        padding: 5px 15px;

        img {
          height: 12px;
          opacity: .7;
        }
      }
    }
  }
}*/
div.content-form {
  margin: 0 auto;
}

div.checkbox {
  display: inline-flex;
}

div.checkbox input {
  margin-right: 50px;
}

div.youtube-content {
  text-align: center;
  /*border-bottom: 1px solid grey;*/
}

div.vimeo-content {
  text-align: center;
  /*border-bottom: 1px solid grey;*/
}

div.soundcloud-content {
  text-align: center;
  /*border-bottom: 1px solid grey;*/
}


.tag-c {
  /*border:1px solid #a1a1a1;*/
  color:#5fbebe;
  /*border-radius: 2em;*/
  width: 100px;
  margin: 0 auto;
}

.tag-f {
  /*border:1px solid #a1a1a1;*/
  color:#77b57a;
/*  border-radius: 2em;*/
  width: 100px;
  margin: 0 auto;
}

.tag-l {
  /*border:1px solid #6b83a6;*/
  color:#2e9fff;
  /*border-radius: 2em;*/
  width: 100px;
  margin: 0 auto;
}

.navigation-search-bar input, .navigation-search-bar label {
  display: inline-block;
  width: auto;
  height: 30px;
  padding: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}

.navigation-search-bar input[type="submit"] {
  padding: 0px 8px;

}

.navigation-search-bar input[type="input"] {
  line-height: 25px;
  height: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
}

div.select label {
  display: inline;
}

div.select {
  display: block;
}

div.select p {
  font-size: 18px;
  width: 300px;
  display: inline;
  margin-left: 10px;
  vertical-align: 26%;
}

div.username h1, div.username p {
  display: inline;
}

@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.bio {
  @include ellipsis(50%);
  text-align: justify;
}

/*search*/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

/*body {
  background: #DDD;
  font-size: 15px;
}*/
#wrap {
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  box-shadow: none !important;
}

input[type="text"] {
  height: 60px;
  font-size: 40px;
  display: inline-block;
  font-family: "Lato";
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  box-shadow: none !important;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
  box-shadow: none !important;
  background: white;
}

input[type="text"]:focus {
  box-shadow: none !important;
  width: 500px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  box-shadow: none !important;
  height: 67px;
  width: 63px;
  display: inline-block;
  color: white;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

div.role-container {
}

  .row-1 {
    @include span-columns(3);
    width:200px;
  }

  .row-2 {
    @include span-columns(3);
    width: 200px;
  }

  .row-3 {
    @include span-columns(3);
    width: 200px;
  }

  .row-4 {
    @include span-columns(4);
    with: 200px;
  }

div.role label {
  display: inline;
}


input[type="submit"]:hover {
  opacity: 0.8;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat !important;
}

div.user-info img.edit {
  width: 18px;
  height: 18px;
  margin: 20px;
  margin-left: 4px;
}

div.avatar img {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}

div.username-edit {
  display: inline-flex;
}

div.user-info h1 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.user-info h5 {
  font-weight: normal;
}

div.user-info p.location {
  font-size: 16px;
  font-weight: lighter;
}

div.user-info {
  text-align: center;
  margin: 15px;
}

div.audio {
  text-align: center;
  margin: 30px auto;
  width: 700px;
  border: 1px solid #444;
  height: 300px;
  padding: 35px;
}

div.bio p {
  font-weight: 400;
}

div.v-vids {
  text-align: center;
  margin: 30px auto;
  border: 1px solid #444;
  width: 700px;
  height: 480px;
  padding: 30px;
}

div.y-vids {
  text-align: center;
  margin: 30px auto;
  border: 1px solid #444;
  width: 700px;
  height: 480px;
  padding: 30px;
}

div.dashboard-content {
  text-align: center;
}

.switch-container {
  $switch-container-width: 5em;
  $switch-height: 2em;
  $switch-width: 1em;
  $switch-radius: 3px;
  $switch-inner-margin: .2em;

  @include user-select(none);
  @include inline-block;
  position: relative;
  width: $switch-container-width;
  margin-bottom: $base-line-height;

  input.switch-checkbox {
    display: none;

    &:checked + .switch-label .switch-inner {
      margin-left: 0;
    }

    &:checked + .switch-label .switch-toggle-switch {
      right: 0;
    }
  }

  label.switch-label {
    border-radius: $switch-radius;
    cursor: pointer;
    display: block;
    overflow: hidden;

    .switch-inner {
      @include transition(opacity 0.3s ease);
      margin-left: -100%;
      width: 200%;

      &:before, &:after {
        @include box-sizing(border-box);
        float: left;
        height: $switch-height;
        padding: 0;
        width: 50%;
      }

      &:before {
        content: '';
        background: $blue;
      }

      &:after {
        content: '';
        background: #DDD;
      }
    }

    .switch-toggle-switch {
      @include position(absolute, 0px ($switch-container-width - $switch-width - $switch-inner-margin *2) 0px 0);
      @include transition(all 0.3s ease-in 0s);
      height: $switch-height - $switch-inner-margin *2;
      width: $switch-width;
      border-radius: $switch-radius / 2;
      margin: $switch-inner-margin;
      background: white;
      box-shadow: 0 0 1px 2px rgba(0,0,0,0.1);
    }
  }
}
