/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
h1 {
  font-family: $serif;
  font-size: 1.6em;
  font-weight: 400;
  /*margin-bottom: .6em;*/

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

body.welcome {
  @include outer-container;
  background: image-url('DeathtoStock_Band2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

.container {
  @include outer-container;
  @include span-columns(6);
  @include shift(3);
  width: 100%;
}

.content-pri {
  @include span-columns(8);
}

.content-sec {
  @include span-columns(3);
}

.co {
  margin-left: .5em;
  outline: solid;
  font-size: 3.5em;
  color: white;
  @include media($mobile) {
    font-size: 3em;
  }
  @include media($medium-screen) {
    font-size: 4em;
  }
  @include media($large-screen) {
    font-size: 6em;
  }
}

.lab {
  font-size: 3.5em;

  color: white;
  @include media($mobile) {
    font-size: 3em;
  }
  @include media($medium-screen) {
    font-size: 4em;
  }
  @include media($large-screen) {
    font-size: 6em;
  }
}

.large-space {
  padding: 12em 0 12em 0;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: $base-line-height;
}

.small-space {
  padding: 6em 0 6em 0;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: $base-line-height;
}

button {
  @include button(simple, $base-body-color);
  @include linear-gradient(to top, #A8A8A8, #E8E8E8 );

  height: 3em;
  display: inline-block;
  width: 100%;
  margin-bottom: .3em;
  outline: none;
  font-size: 1em;

  @include media($large-screen) {
    width: auto;
    margin-bottom: 0;
    margin-left: 8em;
  }
}
