/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
h1 {
  font-family: $serif;
  font-size: 1.6em;
  font-weight: 400;
  /*margin-bottom: .6em;*/

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

body.welcome {
  @include outer-container;
  background: image-url('DeathtoStock_Band2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

.container {
  @include outer-container;
  @include span-columns(9);
  @include shift(2.5);
  width: 100%;
  position: fixed;
}

.content-pri {
  @include span-columns(8);
}

.content-sec {
  @include span-columns(3);
}

.co {
  margin-left: .5em;
  outline: solid;
  font-size: 2.5em;
  color: white;
  text-align: center;
  @include media($mobile) {
    font-size: 2em;
  }
  @include media($medium-screen) {
    font-size: 3.5em;
  }
  @include media($large-screen) {
    font-size: 4.5em;
  }
}

.lab {
  font-size: 3.5em;

  color: white;
  @include media($mobile) {
    font-size: 2em;
  }
  @include media($medium-screen) {
    font-size: 3.5em;
  }
  @include media($large-screen) {
    font-size: 4.5em;
  }
}

.large-space {
  padding: 4em 0 4em 0;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: $base-line-height;
}

.small-space {
  padding: 6em 0 6em 0;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: $base-line-height;
}

button {
  @include button(simple, $base-body-color);
  @include linear-gradient(to top, #A8A8A8, #FFFFFF  );

  display: inline-block;
  width: 100%;
  margin-bottom: .3em;
  outline: none;
  font-size: 1em;
  text-decoration: none;

  @include media($large-screen) {
    width: auto;
    margin-bottom: 0;
    margin-left: 6em;
  }
}

a:hover {
  text-decoration: none;
}

/*sliding modol*/

$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: #3581A5;
$sliding-menu-color-hover: #fff;

.sliding-menu-button {
  @include button(simple, $base-body-color);
  @include inline-block;
  cursor: pointer;
  font-size: $base-font-size;
  margin-bottom: $base-line-height;
  position: relative;
  outline: none;

  img {
    height: 1.3em;
  }

  @include media($mobile) {
      font-size: 10px;
      width: 230px;
    }
}

.sliding-menu-content {
  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all .25s linear);
  background: $sliding-menu-background;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  li a {
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}

.mini-space {
  padding-bottom: 1em;
}

.mini-space2 {
width: 400px;
height: 60px;
}


