/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
h1 {
  font-family: $serif;
  font-size: 1.6em;
  font-weight: 400;
  /*margin-bottom: .4em;*/

  @include media($medium-screen) {
    font-size: 2.4em;
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

body.welcome {
  background: image-url('DeathtoStock_Band2.jpg')no-repeat center center fixed;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
}

.co {
  margin-left: .5em;
  outline: solid;
  font-size: 2.5em;
  color: white;
  text-align: center;

  @include media($mobile) {
    font-size: 1.5em;
  }
  @include media($medium-screen) {
    font-size: 3em;
  }
  @include media($large-screen) {
    font-size: 4.5em;
  }
}

.lab {
  font-size: 2.5em;

  color: white;
  @include media($mobile) {
    font-size: 1.5em;
  }
  @include media($medium-screen) {
    font-size: 3em;
  }
  @include media($large-screen) {
    font-size: 4.5em;
  }
}

.sign {
  font-size: 20px;
}

button {
  @include button(simple, $base-body-color);
  @include linear-gradient(to top, #A8A8A8, #FFFFFF  );

  display: inline-block;
  width: 100%;
  margin-bottom: .3em;
  outline: none;
  font-size: 1em;
  text-decoration: none;

  @include media($large-screen) {
    width: auto;
    margin-bottom: 0;
    margin-left: 6em;
  }
}

a:hover {
  text-decoration: none;
}

.container {
  @include outer-container;
  margin-top: 20%;
  width: 100%;
}

.title-nbuttons {
  @include span-columns(6);
  @include shift(3);

}

.accordion {
  $accordion-menu-list-padding: $base-line-height/2 $gutter;
  text-align: center;

  background-color: none;
  border: none;
  margin-bottom: $base-line-height;

  li {
    border-bottom: gray;

    > a {
      padding: $accordion-menu-list-padding;
      display: block;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: light-gray;
    }
  }

  ul.submenu {
    display: none;

    li {
      background-color:rgba(255,255,255, 0.3);

      &:first-child {
        border-top: gray;
        box-shadow: inset 0 1px 1px gray;
      }

      &:hover {
        background-color: rgba(255,255,255, 0.8);
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}

